 * {
    box-sizing: border-box;
} 

body {
    padding: 0;
    margin: 0;
    background-color: #dfdfdf;
}

.calc {
    width: 400px;
    margin: auto;
    margin-top: 5%;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 20px 20px 1em rgb(82, 82, 82);
}

.screen {
    font-size: 50px;
    font-family: 'VT323', monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #dddddd;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    font-size: 40px;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    font-family: 'VT323', monospace;
}

.calc-button:last-child {
    background-color: #df974c;
}

.calc-button:last-child:hover {
    background-color: #dfb07e;
}

.double {
    width: 49.7%;
}


.triple {
    width: 74.8%;
}

.calc-button:hover {
    background-color: #f7f7f7;
}

.calc-button:active {
    background-color: rgb(150, 150, 150);
}

.calc-button:last-child:active {
    background-color: #dd8d37;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}